<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGSD Snack Money</title>
    <link rel="stylesheet" href="../stylesheet.css">
    <style>
        .row:nth-of-type(odd) {
            background-color:#ccc;
        }
    </style>

</head>

<div class="topnav">
    <a class="active" href="/profile">Welcome <%= user[0].firstName%> <%= user[0].lastName%>!</a>
    <a href="/logout">Logout</a>
    <a href="/addStudent">Add Student</a>
    <a href="/take2">Deduct $2</a>
    <a href="/previous">Previous Week</a>
    <a href="/forward">Next Week</a>
    <a href="/emailNeg">Email Negatives</a>
    <a href="/report">Report</a>
</div>

<body>
<br>
<br>
<form action="/submitEmail/<%=student[0].id%>" method="POST" class="center">
    <label for="email">Email Parent: </label>
    <br>
    <textarea id="email" name="email" rows="4" cols="50" maxlength="255">Dear Parent/Guardian, every school day we provide a snack to your child and we ask that Parents/Guardians help cover the cost by sending $2 each week to class. Our records show that your child <%=student[0].firstName%> <%=student[0].lastName%> has a balance of $<%=student[0].balance%>. Thank you, <%= user[0].firstName%> <%= user[0].lastName%>!</textarea>
    <br>
    <br>
    <hr class="solid">
    <input type="submit" value="Send Email">
</form>
</body>
</html>